---
import '@/styles/globals.css';
import SiteLayout from '@/layouts/CardLayout.astro';
import FullPageLayout from '@/layouts/FullPageLayout.astro';
---

<FullPageLayout currentPage="OpenPoll" title="OpenPoll">
  <section id="hero-section" class="flex justify-center px-4" style="padding-top: 10vh; height: 90vh;">
    <div class="max-w-2xl mx-auto text-center">
      <h1 class="text-4xl font-semibold md:text-6xl">
        Create and share polls. Welcome to
        <span class="text-secondary">OpenPoll</span>
      </h1>
      <h2 class="mt-10 text-lg opacity-80 md:text-2xl">
        OpenPoll is a free and open-source platform to create and share polls.
        Use moderation features to share your polls during a live event or
        meeting.
      </h2>
      <div class="flex flex-col md:flex-row justify-center gap-4 mt-10">
        <a
          href="https://github.com/julianfbeck/openpoll"
          class="bg-black text-white text-base px-6 py-2 rounded-lg font-semibold hover:scale-110 hover:opacity-85 transition duration-300 ease-in-out"
          target="_blank"
        >
          Github Repo
        </a>
        <a
          href="/new"
          class="bg-transparent text-black border border-black text-base px-6 py-2 rounded-lg font-semibold hover:scale-110 hover:opacity-85 transition duration-300 ease-in-out"
        >
          Create Poll
        </a>
      </div>
    </div>
  </section>
</FullPageLayout>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #hero-section {
    animation: fadeIn 0.8s ease-in-out forwards;
  }
</style>


<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #hero-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
  }
</style>
