---
import '@/styles/globals.css';
import { getSession } from 'auth-astro/server';

import Layout from '../layouts/Layout.astro';
import CommentsOverviewWrapper from '../components/CreatePollFormWrapper';
import { db } from '../utils/db';

const session = await getSession(Astro.request);
if (!session) return Astro.redirect('/login');
---

<Layout title=`TinyPoll`>
  <main class="flex justify-center items-center min-h-screen bg-gray-100">
    <CommentsOverviewWrapper client:load />
  </main>
</Layout>
