---
import { getSession } from 'auth-astro/server';
import '@/styles/globals.css';
import SiteLayout from '@/layouts/SiteLayout.astro';
import { SignIn } from 'auth-astro/components';

const session = await getSession(Astro.request);
if (session) return Astro.redirect('/');
---

<SiteLayout currentPage="login" title="Sign In">
  <main class="my-8 mx-auto max-w-2xl px-4">
    <SignIn
      class="hover:bg-gray-100 text-gray-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
    >
      Sign in with GitHub
    </SignIn>
  </main>
</SiteLayout>
