---
import Layout from './Layout.astro';
import Sidebar from './Sidebar.astro';
import '@/styles/globals.css';

interface Props {
  title: string;
  currentPage: string;
  hideCard?: boolean;
}

const { title, currentPage, hideCard } = Astro.props;
---

<Layout title={title}>
  <!-- Card in the upper third of the page -->
  <div class="p-4 md:ml-64">
    <div
      class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
    >
      <Sidebar currentPage={currentPage}>
        <!-- title -->

        <div class="pt-8 px-4 sm:px-6 lg:px-8">
          <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-4">
            {title}
          </h1>
          <div
            class={hideCard
              ? ''
              : 'max-w-lg mx-auto bg-white rounded-lg shadow-lg overflow-hidden md:max-w-4xl lg:max-w-5xl border'}
          >
            <div class="p-4 md:p-8">
              <slot />
            </div>
          </div>
        </div>
      </Sidebar>
    </div>
  </div>
</Layout>
