---
import SiteLayout from './CardLayout.astro';

//get props
interface Props {
  frontmatter: Props;
  title: string;
  currentPage: string;
  titleStart?: string;
}

const { title, currentPage, titleStart } = Astro.props.frontmatter as Props;
---

<SiteLayout
  title={title}
  currentPage={currentPage}
  titleStart={titleStart}
  hideCard
>
  <div class="prose">
    <slot />
  </div>
</SiteLayout>
